.header {
  display: flex;
  background: #222;
  color: white;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0
}

.header a {
  height: 30px;
  width: 100px;
  text-align: center;
}

.design a {
  text-decoration: none;
}

.design a:hover {
  color: rgba(75, 37, 212, 0.959);
}

.oversight a {
  text-decoration: none;
}

.oversight a:hover {
  color: rgba(75, 37, 212, 0.959);
}

#linkTraing{
  margin-right: 300px;
  color: white;
}

#linkBio{
  margin-left: 300px;
  color: white;
}

#achivement {
  color:white;
}

#linkedin {
  color: white;
}

#linkExperience{
  color: white;
}

#linkPersonal{
  color: white;
}


.content {
  display: flex;
  width:100%;
  justify-content: flex-end;
  margin-top: 70px;
}

.leftColumn {
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 17px;

}

.rightColumn {
  width:50%;
}


.IMG {
  display: flex;
  height: 550px;
  width:auto;
  margin-top: 0px;
  padding-left: 0px;
  background: no-repeat center/80% url("images/profilKep.jpg");

  justify-content: center;
  align-items: flex-end;

}

.IMG h2 {
  font-size: 25px;
  text-shadow: none;
}

.IMG #name {
  font-family: 'Abril Fatface', cursive;
  color: white;
  padding-left: 80px;
}

.IMG #myName {
  margin-bottom: 0px;
}

.IMG #anakin {
  margin-top: 0px;
  margin-right: 0;
  padding:0px;
}

ul {
  list-style-type: square;
}

.intro{
  padding-top:23px;
  font-size: 40px;
}

.task1 {
  font-family: 'Josefin Sans', sans-serif;
  margin-left:10px;
  font-size: 15px;
}

.text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
}

.together {
  background: dimgrey;
  color:white;
  text-align: center;
  height: auto;
  font-size: 30px;
  
  font-family: 'Abril Fatface', cursive;
}

.together h2::before {
  content: '”';
  font-size: 130;
}
.faith h2::before {
  content: '”';
  font-size: 130;
}
.master h2::before {
  content: '”';
  font-size: 130;
}

h2 {
  margin-top: 0px;
  margin-bottom: 15px;
  text-shadow: 1px 1px black;
  font-size: 51px;    
}



.note {
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

.design h3 {
  padding-bottom: 5px;
  font-size: 30px;
}

.design p {
  font-size: 17px
}

.oversight h3{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
}

.oversight p {
  font-size: 17px;
}

.faith {
  background: dimgrey;
  color:white;
  text-align: left;
  height: auto;
  font-family: 'Abril Fatface', cursive;
}

.faith h2 {
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: 1px 1px black;
  font-size: 51px
}



.experience {
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

.title h3 {
  margin-bottom: 0px;
}
.title p{
  margin-top: 10px;
  font-size: 19px;
}

.task {
  font-size: 17px;
  margin-left: 10px;
}

.title2 h3 {
  margin-top: 50px;
  margin-bottom: 0px;
}
.title2 p{
  margin-top: 10px;
  font-size: 19px;
}

.master {
  background: dimgrey;
  color:white;
  text-align: left;
  height: auto;  
  font-family: 'Abril Fatface', cursive;
}

.master h2 {
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 50px;
  text-shadow: 1px 1px black;
  font-size: 45px
}


.formal {
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

.training h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.training p{
  margin-top: 10px;
  font-size: 19px;
}
.training2 h3 {
  margin-top: 50px;
  margin-bottom: 0px;
}
.training2 p{
  margin-top: 10px;
  font-size: 19px;
}
.training3 h3 {
  margin-top: 50px;
  margin-bottom: 0px;
}
.training4 p{
  margin-top: 10px;
  font-size: 19px;
}

.csik {
  border-bottom: 4px solid black;
  width: 100%;
}