.header {
  display: flex;
  background: #222;
  color: white;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0
}

.header a {
  height: 30px;
  width: 100px;
  text-align: center;
}

.design a {
  text-decoration: none;
}

.design a:hover {
  color: rgba(75, 37, 212, 0.959);
}

.oversight a {
  text-decoration: none;
}

.oversight a:hover {
  color: rgba(75, 37, 212, 0.959);
}

#linkTraing{
  margin-right: 300px;
  color: white;
}

#linkBio{
  margin-left: 300px;
  color: white;
}

#achivement {
  color:white;
}

#linkedin {
  color: white;
}

#linkExperience{
  color: white;
}

#linkPersonal{
  color: white;
}



.content {
  display: flex;
  width:100%;
  justify-content: flex-end;
  margin-top: 70px;
}

.leftColumn {
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 17px;

}

.rightColumn {
  width:50%;
}


.IMG {
  display: flex;
  height: 550px;
  width:auto;
  margin-top: 0px;
  padding-left: 0px;
  background: no-repeat center/80% url("images/profilKep.jpg");
  /*data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBUWFRgVFhUYGBgYGBgYGBgYGhgYGBgYGBgZGRgYGBgcIS4lHB4rIRgYJjgmKy8xNTU1GiQ7QDs0Py40NTEBDAwMEA8QGBESGjEhGCExMTQxMTQxNDExNDExMTE0NDQxNDE0NDQ0MTQ0NDE0Pz80MTE0MTQ0ND80NDExNDExP//AABEIAJkBSgMBIgACEQEDEQH/xAAcAAACAgMBAQAAAAAAAAAAAAADBAIFAAEHBgj/xABHEAACAQIBBwcJBQUIAgMAAAABAgADEQQSITFBUWFxBROBkaGxwQYUIjJCUpLR8AdicoKyFaLS4fEjQ0RTVIOTwhYzJGPi/8QAGAEBAQEBAQAAAAAAAAAAAAAAAAECAwT/xAAcEQEBAQADAQEBAAAAAAAAAAAAEQECEiExQRP/2gAMAwEAAhEDEQA/AOc001xlRAoTDq41iARVhBQE3TA1GHSn9CSgIpHjNikI0qQq0wY3VJLQhBTjow+yZzJGqTsQoqSapGRTkxSk7LC6rDIIVacItKKRpVhkSaRIdBM6qHM3keZjlICMczeZorOYM3zRlkKEmKQjssVQpyaIZYth5rzeKQqKImNho0KREMiRRV+bwnNZtEsWozFoyUiu5mbGHlgaE0KUVYrzQgnS0tGpxepTipFeV3TWTHOZmnpTVQkVgGBlk1KD83vGaRWMhgmQy2OGkGw4lqRVFJArLN6Yiz05qkJFZEpGikiactIVdN0EUj6rbSLwdRJEV1SnFublm6QXNTeaElWEWnMRYdFhEUpQyXEmiwyrJVxlOrtjVJ1MgtMQq4cTO6pukg1NbjGkwzbjK9KTDQYdC40fKY1ThwX3bSBwJ2QlHGuNIvxjtPGIdII7Znd0Vvmp2SYw0ukyToIMnzAOqKsUy0JNcPLgYQQgwUVYphRhkQiWRwUGaBEUCQTYpw6pJhJAsEm8iNinM5uAqKYhFpw4pyQWAs1GQFOOsIMLAX5uaKGNinMyYCRpwLYeWWRMFOBWebwbUc8tXpwLU4FY9OCZDLB0gikuaEzTMg1GWAQTGUbIpFWcLuMG2FlmwOyL1EaWpFc+FME1EDWI+9JoJsNLUiudBvgXG6WT4eBemBNZqRWMh1yGTLBhA5O6XNIrUpw6U4zSpRpcPul3UhJKcMlOOJhd0OmFmd5LCaJDohji4QwyYWZ3VhRIwloyuGhVwszVgC0xCrhxshRh90ItCAJKAGgkRqmWGsTaIYZEkaIct8u08LTy3F2Jsi6Mo8dQGkmeKflXH4hy6PUQAXVUylRRtyR6wO0z13lFhcO3MtiLejUsuV6pZlPokaDew6p6PknHYSoGw6OuVazoVKm+sEWBOi03x3Mz4xrl2B5extKoXeqXUGzo5Nm03AzZmsCc2zZOicicrUsUmXTIuuZ1IsyneNm+eI8v8DUONyBSNrDIyR6LIUGgDR7Qvxg/Il+bxzU3V0ykJAvYBgABlZ8+YNt1TW5m5f1MtdJbCwZoERokjXI8+Nd5ybCVJPIkw67oVQDrgL81IBDsjwQzRpwE2WQNOPGlI83ATUQgSM81Nc3AXNMSJpxgrIkQAmnBPTjVppkgVzUhB8zLA0pBqcBFqMhkSwanBmnASZeEC1hLA0pBqG6BXO8XdRrvLU4fdBtQ3RRTOBqvF6i7pcVMLFXwu6azUiodN0DLSthYr5uN81U0DDpHaSbo5h8GPeHTHEwR+6emZ3kZhOmkZRN0bXBnZDphDsk3VLJShkpRhKBEMtMyKWWiNkmtGNqm6EVBsgJilJCjuj6osmKa7YFcKUkKUsVpjaIVaA3RB57ldqaIj1ULU0qIzAAEizeibH72T1y75ONGo5rogBdVJOa5OrKAJz6ITHclLWpvSYZnUr0+yeg2PROWYbyyXCFUKZNRMqnXWwU5SMVt6OY2IOrvms47uM7vrqTurV/SW55vJzZzYupFuGno3TluDrriuWSXXJVHekqHPdaSMoyveYlbnql1gvLRLtiarp6noUUdSwGb0nb2c5GbOc+ieMbFVXxFPE0ECYh8RfJTK9NqzucnOPSUBUBN/bz6RNcc32prtLpB82Nkd5prAsADrte3aAZA05zjeaTNAbJHzePc3MyIgSCMNBhVqkaRD5E3zcogKi75vKE3zIklp2gRmGEtNwF2SayIxkzWaELMk1zcZzTCIilubkGWMFZApECrLI2jhpSJoSBUwZBjhowZpwFShgXSPMkA6SBNkgHQR5xAOsorayRXmpa1FEBbd2S0PUaA2RlKC7JX0OXsMwOSSDbMHBXPsJz2l1gXSomUjA+8AblTsYaR0xNA1oCFTDiMDDya0pIADDb5MYffGFpmEVDLAqMOZsUY6KZkghiJSQoyQpHZHOamxTiFLJQ3Sm8p/KvC4AAVSWqMMpKSWLEXtlNc2VcxznTY2BtLvlfHLhsPUrsLrSUsQNLEeqo3k2HTPmLlXlGpiKz16hu9RizHVn0AbABYAagBN8eNTdet8ovtOxeIBSnbDUzpCEmodxqZiB+ELPE1KzG5JJLesTnJzg5yc980DMnXMZOUabKMq6gMrD1gbgixuASdd9GqXP8A5G1M02oXD07EVHAYgjSEQ3ABz5zckEjNnnm5qB23kX7XMO4C4qk1JtboMunxI9ZeADT3+DxVKsgqUXSojaHQhhm0jNoI2HPPlQTof2QcutRxgw5P9niRkEE5hUUEow3mxXflDZM7xxc12wpMyY06SOROUUvkzMiHyJvIiBfm5rm40EmZEQpXIO2ZkGN83umioGkxCk8jdNFN0dCjdMKRFpApMC7o9kDZM5obIiUieEjH2oCQ83ERaStIlDHjhxInD7pItJMkG1PdLA4U75o4Y74hVYyboN0juPrU6KZdaotNMwynIUEnQBfSdwnmK3l9gA4QPUYaC60zkD4iD1CXrqXFq9OLVE3Qycv4J7BcTSz7WCfqtbhHKVJXXLpsHU+0hDr1rcSddW4o6inZFcg7J6CrhgNLKOJA74v5uvvp8S/OIVyqvgqijM5IvmK6Rb7oOkX0RjAs4sQwexF1zBgL3v46YnT5HcqRd8+q7Hpz6/nL3kfyTuLOXtpsGYWNvrqnXdz9Yxe4TygrocgOHzZlqgXH5gAR+YmPN5VVAf7kAGxJvpPB8/Xt6Ccl+SWHRw7BntewqMWUAi3qk226pc1fJ/CMM+Gon/bS/dOdxZqr/wDKmQDLWkTmvk1CNP3bHvhF8skOhFvs5ztzLo3xhvJXBHThqX/Gvykk8k8CP8NS+BY8CL+U9Ut6Hm4W1wrFi1t5Dbjq1Q1LylrXIZMOc+YJUNxfQDvtLJPJrBD/AAtH/jT5QychYMaMNQ/40+UKrF5cxNzenStqtlk9MHV8p66m3MA7bU67dRVSD/Oekp4SkoAVEUDQAAAOgSYoJ7oj1HLftK8pKtTBc2yKoeoitZao9W7ixdQDnUZtM5AiEkAAkk2AGcknQAJ177c64VMLSUABmqVDb7oRV/U05PgcSadRKgFyjKwFyM6m4zgg6tU68fjOmP2Hiv8ATV/+J/lHKPkhj2FxhK/TTZf1Wl032l4s/wB3Q+Gqe+pEqnl5jCbjmVGwUKRH7yk9svp4rK3k3jFNmwmIH+09usC0ratNlOSylSNIIII4gz11L7RcUtv7PDngjL+hxLBPtFRwFxGFDr7VnFQfBXV+xhF0mOfQ2ExDU3V1NmRldTsZSGU9YE6C3JnJ3KA/+MRh6wz5GQRlDZzQYq3FDfamec/xmH5t2S4bIYrlC4BKmxIDAG2bWJbR9KJy7iSmUcJckZQyagzg5xb0ba9ZmLy9X14KpbPmDUyesuBt2ywwGEBpU/SPqJrI9gQ/mY95py9aVh5dqZv/AIdTRn9NMx2b4pW8oMT7ODdeIy79RFpf+aD3jN+bDbJ6PLt5RYvR5rU0Zjzeb9UTPKmOcZ0rjb6BTTvUAz2vm42jqmjh+HUfnIOdY7lDEqQXRx958u/AZjBDH12t6DG+07LjQRfbOlCmdo+umaKHaIHN3x1dM6XU2I9FwDbhcHP4TS+UeLT1Gc5iM9nvvsb9k6RzZ1kTQo7l6pcwc3q+UmOFm5xrkaMhLa9ChcxzaYrU5cxlTMalXMbEL6FjosQLbtM6lzA91PhEG+BpnTTpniiHwlo5YvKmLpm+XXHEsdWa5JI25o0nlrjdAYEfeRC3SemdFPJ1P/Kpbv7NPlDUsKFFlRFGoKigdQipHJcR5YYzLLHEMp1BVQJwAtY9N4Kp5U4xs7V6t/ukoOpbCdcfCodNOmeNNflINgKf+TS+BflLcI4liOWMUx/9tWw1F3Nt9ycxi2I5VxTAqcRWKnMV5x8k7sm9rTt7cmUDpw9A/kX+GCq8j4ZhY4aiR+Be60XCa4PWy2ALMzEC3pkmw2C+gQXmzfWud0fkHCjRhqIvsUDuESq+TWCOY4ZOAyh3GXvh1cVqZrAkdYm6eIZb5L5N9NmtfjbTOxnyTwH+lXoy7djQT+SPJ5/wo43qA9eVH9MOuuMuFPu9meDyRsHZOwt5HcnjRhrfnq6fi3zX/iOB/wAg/G/8Ud+J10ph8KdnTpPdLnAHJFrEcRKvDOdQvqzMCe/TH6WKbRmB4vp+HNOW+tYu6dS2kxha++UlLF6tPAsT1WjAxY39IPfkwq2FTYe8SYqb+2VC4kHOAD03HVaEGLXRbsHdfwii154be3+Ulzv1plX50N445KjtEkmJGxeOUp8YoshX29smtThK7zjdfcBfuaS50HSnWrDvlHLPtqrlsTRW2ZaR352a57MnrnNJ7n7Vq4bGBQwOSi3A9kkDMdhsAekTxtCvkZXoq2UpX0lDWvbOt9BFsxnbj8c9AmCZMlRubaamGFN4TB1HWo6KSKSh3IIGSpdVB+Jl0RYZznOvOdPEwtNnCsFLZBtlgXyTY3XKtv0X1xeB9ZYdwEQXvZQL8BpmzW390pOQsSXw2Hc2BahRY3BOc00Jz647z40XH1xnDdbPiqfq0w1OiI5f9RabNXYR0kHskodFT61TDUiYf6t85I1Tq7hFIZDzMvfFBWOs9lpLnTs7vnLSGVebyvrRFeeOzsmc8fq3dJSGi/1eRLiBFXj9cDMFQ/QMUgwff3zeXFWY/Q/nItiANJUcbfOKQ1lyJeLrVvoseBvMZzu7BFIKzyLNAs+7t/lNPUtFIyqYodOjN090K78PnAq5J09ABt3eMip34yDP9fzmM+424EeEExP1aUQdj9X+cFn29s1VqEab8bZumAyz97qMDyqY3NpJ3ZQP6hDU8eo9ZT1HvU2lOtYjTRqDpHikYTFkaA/DKp+KGdOrGavU5UTVY/iv4tCftBNqjiSB2I3fKMY8aw46aLdmSIVMeNAZ+BpjwMzFq/p45baU6KjDsyBDpjdmUeDu3/aUArk+0RxWw7jJK/36Z4kDvSSLXoRij/8AYOCt8zJHFt7z9K1O/OJ59alvYH5Qp71heftu/FTA7RkyQq9XE/e/dyv1AQqV/wAI6EB6g4M862JGtqX5g47RcQiYtfdQ70LeIiDnf2iUSuNqMdDqjqbWuMkLtOtDrnljOkfaDyXzlFcWl/7M5DqdSMwCsODED842Tm878duMawTJkyVGyJsTJoQpujicmnUTP6eRwspLG/TaKTJd+SGBFbF0Ub1Q2W34UBc8L5IHTGjueBdkpU0JAKU6aFbrmKooI6wYwK77erJbuaVzYoE5wnQ47i3hNGsnugnciN25QnndMWRxJ+k+Tza4neeo+N5WriRrVv8Ajt/3MKKinV+pey0gfNe/tH935TFrb+6JgD+jX7JsMR7TdKN3gGA7zx236h4TDivq6yvOLt7afmZl71hErMdDIfw1FPeJQ2KwOsjgR4MZsv8AeYdJiRy9gPEI3YLSN3H92nRTHg0lDrVvvOehz3TfnA1kdLMOw2iXOsNKsP8AbP8ADM84O8cQogP8+Nv738prn9jfvW8JXs/D4VkOcOzsQDvgWBrMNfW4I75gr/eTrv4yuU7rb1C9+UZm/LI6WHjAsTVO1eowVTEW02PAMT4xJqp9/qK37QZLzgWzsekkd1oBjiwdJcDpsesTGxCaj9dsRfGKD62fc+ftmDFq2fKP7p7IgNUxAGfKJO8he2wEh54TpBttDpm+ESDVRqYdVu5orVq7kP4gB2wDPiFzgsekr/2sYG6++P3fnF3qMdApcFYQeU/uL8TSxK8alZx7y/mK/OMJiqh/vG6ajHvtKRa1tDsekiFSsTrPUD4zvGF4lV/fzfiyh2MYTn20ZYO4ZXzlIgvqfoVflCByNGWOJsJNwXK1G+lJkmqMNKsfyEfKU3nJHtsOlvnJ08U3suD0fMSdVq6TFW9hj+VfEGHTGuNFJSN+SO4CUoxT6yOi3ymxiPuHqA7bGN4lXY5TqDRhh+XKHbeT/aNRvWoAfiZz4SmTFN7tun+UKuJzXJFtzMf1ECSFXBxC1KdSg6hUqoULLlMVJzq1mOexCm2u05dyxyW+HfIcac6ML5LrqZSdW7SNBnvUxKahfpPgSIvj0GItScAotmQ5yyH2grXGSrAAEZ9A155eOw1z/wA3fI5zJbIysnLscnKtfJvovbVATqeO5N52gKBclE9RRYKh1MEUWvpz67mc55R5PeixVxwOojaJrOVTcKCamS55C5BqYhgQCqD1nObNrC30mX4DcoeTzU8FhsZntWZ1YH2cliEI3MFbqG2XnkFgFRXr1GK5QNNANa3BZjuJAA4GepxGHZ8OKDMHSmEyFdVKKq5rCwzgDRe5zRJKrqLZeYaAoKjwmN5XFiyGKGqox3FSO0i0keUbaXboLfOILin9wt0eN5vzwjSijiR/DOcWnl5UQ+2992X4QgxqnS79JbxWVpxoOnI7PEzfnSbbdKjuYRFqyNVDodekEdpUTFbYVbhUYdkrDihqfqIPbea87XW2VxDgfu3jqVdpiXGrNvZm7CJFqpOkJ8HiVtKhcUmwcRUde+FDqdF/jJ71MkKtFqDUoG9WRe9ptqp9+r0Oh6gHEqWYj+X80kfOSPbZeJT5xCrXzsDS+I+FT4mTGPX33P48odgEqRjW1V+iw8DMbEk6XQ8XA74hVx52h1ofyt4zQqjUo6EX+spTiQPdPB7+M154usDpIbviFXJc+4ejLH6Vg2xVtOUOl/EylOOTWUHxL+kwycpLqcflZ/EGIVYvihsJ/wBsHxkPOyM4Ruimy+ERPKDanY/mU94kf2jU94njbwIiFPftcaGDDobuEi+JRtFzxNXuETPKdbf8Q8TA1OUX1g9St2iWIcaourI/MGHWWEg1V9QT8pWIvyy403O4pAvyjTbTTN9oFu4S9SnKzt7SE78x8Ivcf5bdUWONTVcfEJHzv7x6x8peqV5ANCK/Htk0mmnZlJanHo/nDJVbUbcQDBJGaeiFSXEvtHUn8MJ5w23tA8JqlBVoDK4o6iOv+k2Kze+o4AHvMr20QuD0SaHhUH+Yt+CDumyitpqr0k/OVeJixkF6cIDoq0+nJvLnkLBHLAygb3zgXGq2bXnnkaE9X5Je1wPhM8vmrn16pMGADcEEDOuvUBbaOAlTjMJSc2cLuy1IBOiwyhPW1/UXgvhPOcq/+tvrWZyzWtUWHwFKmxXm1Llz6tNSFUhVAvmscxOe3rz0WGVdYXYL2BlFh/Vf8Q8Jb0PUH5e6XkmLXmlZWFwLqy58+crbxE8YhJ05IH3QD4T1g9Vvwv3GeOo6I4/pozYemfWrFeNrd82uBpn1aynqv+qAq6RF/aM2LH9l1fZzjgvzkDg6q6VXpyP4puhqlxR9SQUbtkaUTif6yH7RTXSDfmtHsVpPGIVNMuIIvKSf6dR037wZIYpD6tFeNl8LRGppkKsuixOKA2LwvNDlQaMpj9b4jT0dMfpaIGvPkbSbdEiWpn2j1f8A6ka0WMgdWpSG08f6GGRqZ0ZI6/lEdUGIFwG395HfNHIOnI6UHfKxtUWqwLwqg0BTwYQL1k15Q6j4Spo6ZZ4bRC1rn129gkTWGw8bjuM3V1ROrCGTimGg9agwL4xvu/DaKwiaJoSbEsdn10wfPHYsFWi0I//Z*/
  
  justify-content: center;
  align-items: flex-end;

}

.IMG h2 {
  font-size: 25px;
  text-shadow: none;
}

.IMG #name {
  font-family: 'Abril Fatface', cursive;
  color: white;
  padding-left: 80px;
}

.IMG #myName {
  margin-bottom: 0px;
}

.IMG #anakin {
  margin-top: 0px;
  margin-right: 0;
  padding:0px;
}

ul {
  list-style-type: square;
}

.intro{
  padding-top:23px;
  font-size: 40px;
}

.task1 {
  font-family: 'Josefin Sans', sans-serif;
  margin-left:10px;
  font-size: 15px;
}

.text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
}

.together {
  background: dimgrey;
  color:white;
  text-align: center;
  height: auto;
  font-size: 30px;
  
  font-family: 'Abril Fatface', cursive;
}

.together h2::before {
  content: '”';
  font-size: 130;
}
.faith h2::before {
  content: '”';
  font-size: 130;
}
.master h2::before {
  content: '”';
  font-size: 130;
}

h2 {
  margin-top: 0px;
  margin-bottom: 15px;
  text-shadow: 1px 1px black;
  font-size: 51px;    
}



.note {
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

.design h3 {
  padding-bottom: 5px;
  font-size: 30px;
}

.design p {
  font-size: 17px
}

.oversight h3{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
}

.oversight p {
  font-size: 17px;
}

.faith {
  background: dimgrey;
  color:white;
  text-align: left;
  height: auto;
  font-family: 'Abril Fatface', cursive;
}

.faith h2 {
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: 1px 1px black;
  font-size: 51px
}



.experience {
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

.title h3 {
  margin-bottom: 0px;
}
.title p{
  margin-top: 10px;
  font-size: 19px;
}

.task {
  font-size: 17px;
  margin-left: 10px;
}

.title2 h3 {
  margin-top: 50px;
  margin-bottom: 0px;
}
.title2 p{
  margin-top: 10px;
  font-size: 19px;
}

.master {
  background: dimgrey;
  color:white;
  text-align: left;
  height: auto;  
  font-family: 'Abril Fatface', cursive;
}

.master h2 {
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 50px;
  text-shadow: 1px 1px black;
  font-size: 45px
}


.formal {
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

.training h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.training p{
  margin-top: 10px;
  font-size: 19px;
}
.training2 h3 {
  margin-top: 50px;
  margin-bottom: 0px;
}
.training2 p{
  margin-top: 10px;
  font-size: 19px;
}
.training3 h3 {
  margin-top: 50px;
  margin-bottom: 0px;
}
.training4 p{
  margin-top: 10px;
  font-size: 19px;
}

.csik {
  border-bottom: 4px solid black;
  width: 100%;
}